//
   Created by Illusion on 2015-05-22.

extends layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/paper", method="post", enctype="multipart/form-data")
            fieldset
               div(class="page-header")
                h3 Stan referatu
               div(class="form-group")
                  label(for="referat", class="col-lg-2 control-label") Referat
                  div(class="col-lg-10")
                     select(class="form-control", id="select", placeholder="Default input")
                        each val in ['referat1','referat2','referat3','referat4']
                           option= val
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     div(class="checkbox")
                        label
                           input(id="approved", type="checkbox", name="zatwierdzony")
                           | Zatwierdzony
                     div(class="checkbox")
                        label
                           input(id="corrected", type="checkbox", name="poprawiony")
                           | Poprawiony
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Aktualizuj

