//
   Created by Illusion on 2015-05-22.


extends ../layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/add_paper", method="post")
            fieldset
               h3= "Dodaj referat"
               div(class="form-group")
                  label(for="dodaj", class="col-lg-2 control-label") Autor referatu
                  div(class="col-lg-10")
                     select(class="form-control" id="Autor" name="autor")
                        each user in users
                           option(data-conf=user.confs, value= user.user.id_uzytkownika)= user.user.imie+" "+user.user.nazwisko
               div(class="form-group")
                  label(for="dodaj", class="col-lg-2 control-label") Nazwa referatu
                  div(class="col-lg-10")
                     input(id="nazwa", type="text", class="form-control", placeholder="Nazwa", name="nazwa")
               div(class="form-group")
                  label(for="dodaj", class="col-lg-2 control-label") Tresc
                  div(class="col-lg-10")
                    textarea(class="form-control",id="Tresc", rows="10",name="tresc")
                div(class="form-group")
                  label(for="dodaj", class="col-lg-2 control-label") Konferencja
                  div(class="col-lg-10")
                     select(class="form-control" id="Konferencja" name="konferencja")
                        each val in konferencje
                            option(value= val.id_konferencja)= val.nazwa
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Dodaj
                     
    script(type='text/javascript').
        function setConfs(obj) {
            var confs = JSON.parse(obj.find(":selected").attr('data-conf'));
            if(confs.length === 0)
                $("#Konferencja").val("");
            else $("#Konferencja").val(confs[0]);
            $("#Konferencja > option").each(function() {
                var val = parseInt(this.value);
                if(confs.indexOf(val) === -1)
                    $(this).hide();
                else
                    $(this).show();
            });
        }
        
        $(document).ready(function() {
          var uzytk = $("#Autor");
          $("#Konferencja > option").each(function() {
            $(this).hide();
          });
          setConfs(uzytk);
          $(uzytk).on('change', function(event) {
            setConfs(uzytk);
          });
        });