//
   Created by Illusion on 2015-05-22.

extends ../layout
block content
   div(class="row")
      div(class="col-lg-8")
         form(class="form-horizontal", action="/verify_paper/"+paper.id_referat, method="post")
            fieldset
               h3 Stan referatu
               div(class="form-group")
                    label(for="Stan", class="col-lg-2 control-label") Referat
                    div(class="col-lg-10")
                    h4= paper.nazwa
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     div(class="checkbox")
                        label
                        if(paper.zatwierdzony ===1)
                           input(id="Stan", type="checkbox", name="zatwierdzony" checked="")
                           | Zatwierdzony
                        else
                            input(id="Stan", type="checkbox", name="zatwierdzony" )
                            | Zatwierdzony
                     div(class="checkbox")
                        label
                        if(paper.poprawiony ===1)
                           input(id="Stan", type="checkbox", name="poprawiony" checked="")
                           | Poprawiony
                        else
                           input(id="Stan", type="checkbox", name="poprawiony")
                           | Poprawiony
               div(class="form-group")
                  div(class="col-lg-10 col-lg-offset-2")
                     button(type="submit", class="btn btn-primary") Aktualizuj
