//
   Created by Doniu on 2015-05-16.

extends ../layout
block content
    div(class="row")
        div(class="col-lg-8")
            form(class="form-horizontal", action="/add_user", method="post")
                fieldset
                    div(class="page-header")
                        h3 Formularz wprowadzania danych osobowych
                    div(class="form-group")
                        font(color="red") * - Pola oznaczone gwiazdka sa wymagane
                    div(class="form-group")
                        label(for="email", class="col-lg-2 control-label") Email   *
                        div(class="col-lg-10")
                            input(type="email", id="email" class="form-control",maxlength="30",name="email", placeholder="Email")
                    div(class="form-group")
                        label(for="inputPassword", class="col-lg-2 control-label") Hasło   *
                        div(class="col-lg-10")
                            input(type="password", class="form-control",maxlength="30", name="password", placeholder="Hasło", id="inputPassword")
                    div(class="form-group")
                        label(for="inputSurname", class="col-lg-2 control-label") Nazwisko   *
                        div(class="col-lg-10")
                            input(type="text",id="inputSurname", class="form-control",maxlength="45", name="nazwisko", placeholder="Nazwisko")
                    div(class="form-group")
                        label(for="inputName", class="col-lg-2 control-label") Imię   *
                        div(class="col-lg-10")
                            input(type="text",id="inputName", class="form-control",maxlength="20", name="imie", placeholder="Imię")
                    div(class="form-group")
                        label(for="inputAdress", class="col-lg-2 control-label") Adres
                        div(class="col-lg-10")
                            input(type="text",id="inputAdress", class="form-control",maxlength="45", name="adres", placeholder="Adres")
                    div(class="form-group")
                        label(for="inputPhone", class="col-lg-2 control-label") Numer tel
                        div(class="col-lg-10")
                            input(type="number",id="inputPhone", class="form-control", name="phone", placeholder="Numer telefonu")
                    div(class="form-group")
                        label(for="inputFirma", class="col-lg-2 control-label") Firma
                        div(class="col-lg-10")
                            input(type="text",id="inputFirma", class="form-control",maxlength="45", name="firma", placeholder="Firma")
                    div(class="form-group")
                        label(for="inputPrawa", class="col-lg-2 control-label") Prawa
                        div(class="col-lg-10")
                            div(class="checkbox")
                                label
                                    input(type="checkbox",disabled="disabled", id="inputPrawa", name="uczestnik")
                                    | Uczestnik
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputPrawa", name="recenzent")
                                    | Recenzent
                            div(class="checkbox")
                                label
                                    input(type="checkbox",id="inputPrawa", name="admin")
                                    | Admin
                    div(class="form-group")
                        label(class="col-lg-2 control-label") Opłata
                        div(class="col-lg-10")
                            div(class="radio")
                                label
                                    input(type="radio", name="optionsOplata", value="dokonano" checked="")
                                    | Dokonano wpłaty
                            div(class="radio")
                                label
                                    input(type="radio", name="optionsOplata", value="nie_dokonano" checked="")
                                    | Nie dokonano wpłaty
                    div(class="form-group")
                        label(class="col-lg-2 control-label") Status
                        div(class="col-lg-10")
                            div(class="radio")
                                label
                                    input(type="radio", name="optionsStatus", value="aktywny" checked="")
                                    | Aktywny
                            div(class="radio")
                                label
                                    input(type="radio", name="optionsStatus", value="nie_aktywny" checked="")
                                    | Nie aktywny
                    div(class="form-group")
                        label(for="textArea" class="col-lg-2 control-label") Komentarz admina
                        div(class="col-lg-10")
                               textarea(class="form-control",id="textArea", rows="3",maxlength="100",name="komentarz")
                    div(class="form-group")
                        div(class="col-lg-10 col-lg-offset-2")
                            div(class="row")
                                div(class="col-lg-1")
                                    button(type="reset",name="czysc" class="btn btn-default") Cancel
                                div(class="col-lg-1 col-lg-offset-2")
                                    button(type="submit",name="rejestruj" class="btn btn-primary") Rejestruj



